body {
    margin: 0;
      font-family: 'Segoe UI', Arial, sans-serif;
        background-color: #f5f5f5;
          -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

